@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --rs-bg-overlay: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes topup {
    0%, 100% {
        transform: translatey(0px);
        opacity: 0;
    }
    50% {
        transform: translatey(150px);
        opacity: 0.1;
    }
    25%, 75% {
        opacity: 1;
    }
}